.header-nav-categories-links {
  list-style: none;
  display: flex;
}
.header-nav-categories-links li a {
  text-decoration: none;
}
.header-nav-content-row {
  display: flex;
  justify-content: space-between;
}