
body {
  margin:0;
}

.header-nav-categories-links {
  list-style: none;
  display: flex;
}
.header-nav-categories-links li a {
  text-decoration: none;
  color:black

}
.header-nav-content-row {
  display: flex;
  justify-content: space-between;
}
.hero {
  background-color: rgba(46, 46, 253, 0.909);
  height:410px
}