
body {
  margin:0;
}

.header-nav-categories-links {
  list-style: none;
  display: flex;
}
.header-nav-categories-links li a {
  text-decoration: none;
  color:black

}
.header-nav-content-row {
  display: flex;
  justify-content: space-between;
}
.hero {
  background-color: rgba(46, 46, 253, 0.909);
  height:410px
}
.footer {
  background-color: #f7f7f7;
  padding: 250px;
}
.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline:2rem;
}
.section-text {
  font-size: 1.125em;
}
.secton-content {
  margin: 2rem;
  border-top: 1px solid grey;
  border-bottom: 1 px solid grey;
  width:100%;
}
img {
  height:auto;
  width:440px;
}